{% extends 'quest/base.html' %}
{% load static %}

{% block title %}KREALIS{% endblock %}

{% block content %}
<form method="post" class="multiple-choice-form custom-form color-choice-form">
    {% csrf_token %}
    <h2>Elige 4 colores que te gustaría ver en tu casa:</h2>
    {% if form.errors %}
    <div class="errorlist">
        {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% for field in form %}
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="checkbox-group">
        <div class="checkbox-container">
            <input type="checkbox" id="black" name="pcolor_image" value="black.jpg">
            <label for="black">
                <img src="{% static 'images/black.jpg' %}" alt="Negro" width="150" height="200">
                Negro
            </label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="white" name="pcolor_image" value="white.jpg">
            <label for="white">
                <img src="{% static 'images/white.jpg' %}" alt="Blanco" width="150" height="200">
                Blanco
            </label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="cold_gray" name="pcolor_image" value="cold_gray.jpg">
            <label for="cold_gray">
                <img src="{% static 'images/cold_gray.jpg' %}" alt="Gris frío" width="150" height="200">
                Gris frío
            </label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="warm_gray" name="pcolor_image" value="warm_gray.jpg">
            <label for="warm_gray">
                <img src="{% static 'images/warm_gray.jpg' %}" alt="Gris cálido" width="150" height="200">
                <span id="bluish_green_text">Gris cálido</span>
            </label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="brown" name="pcolor_image" value="brown.jpg">
            <label for="brown">
                <img src="{% static 'images/brown.jpg' %}" alt="cafe" width="150" height="200">
                Cafe
            </label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="green" name="pcolor_image" value="green.jpg">
            <label for="green">
                <img src="{% static 'images/green.jpg' %}" alt="Verde" width="150" height="200">
                Verde
            </label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="bluish_green" name="pcolor_image" value="bluish_green.jpg">
            <label for="bluish_green">
                <img src="{% static 'images/bluish_green.jpg' %}" alt="Verde azulado" width="150" height="200">
                Menta
            </label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="blue" name="pcolor_image" value="blue.jpg">
            <label for="blue">
                <img src="{% static 'images/blue.jpg' %}" alt="Azul" width="150" height="200">
                Azul
            </label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="beige" name="pcolor_image" value="beige.jpg">
            <label for="beige">
                <img src="{% static 'images/beige.jpg' %}" alt="Beige" width="150" height="200">
                Beige
            </label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="orange" name="pcolor_image" value="orange.jpg">
            <label for="orange">
                <img src="{% static 'images/orange.jpg' %}" alt="Naranja" width="150" height="200">
                Naranja
            </label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="yellow" name="pcolor_image" value="yellow.jpg">
            <label for="yellow">
                <img src="{% static 'images/yellow.jpg' %}" alt="Amarillo" width="150" height="200">
                Amarillo
            </label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="pink" name="pcolor_image" value="pink.jpg">
            <label for="pink">
                <img src="{% static 'images/pink.jpg' %}" alt="Rosa" width="150" height="200">
                Rosa
            </label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="purple" name="pcolor_image" value="purple.jpg">
            <label for="purple">
                <img src="{% static 'images/purple.jpg' %}" alt="Morado" width="150" height="200">
                Morado
            </label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="mamey" name="pcolor_image" value="mamey.jpg">
            <label for="mamey">
                <img src="{% static 'images/mamey.jpg' %}" alt="Mamey" width="150" height="200">
                Mamey
            </label>
        </div>
    </div>
    <button class="bold-text" type="submit">Siguiente</button>
</form>
{% endblock %}
