{% extends 'quest/base.html' %}
{% load static %}
{% block title %}KREALIS{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div>
        <h2>¿Cuál <span class="bold-text">recámara</span> prefieres?</h2>
        <label class="radio-label">
            <input type="radio" name="bedroom_image" value="bedroom1.jpg">
            <span class="custom-radio"></span>
            <img src="{% static 'images/bedroom1.jpg' %}" alt="Bedroom 1" width="250" height="350">
        </label>
        <label class="radio-label">
            <input type="radio" name="bedroom_image" value="bedroom2.jpg">
            <span class="custom-radio"></span>
            <img src="{% static 'images/bedroom2.jpg' %}" alt="Bedroom 2" width="250" height="350">
        </label>
        <label class="radio-label">
            <input type="radio" name="bedroom_image" value="bedroom3.jpg">
            <span class="custom-radio"></span>
            <img src="{% static 'images/bedroom3.jpg' %}" alt="Bedroom 3" width="250" height="350">
        </label>
        <label class="radio-label">
            <input type="radio" name="bedroom_image" value="bedroom4.jpg">
            <span class="custom-radio"></span>
            <img src="{% static 'images/bedroom4.jpg' %}" alt="Bedroom 4"  width="250" height="350">
        </label>
        <label class="radio-label">
            <input type="radio" name="bedroom_image" value="bedroom5.jpg" >
            <span class="custom-radio"></span>
            <img src="{% static 'images/bedroom5.jpg' %}" alt="Bedroom 5" width="250" height="350">
        </label>
    </div>
    <button class="bold-text" type="submit">Siguiente</button>
</form>
{% endblock %}

