/* Estilos generales */
@font-face {
    font-family: 'CeraPro';
    src: url('../fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CeraPro-Bold';
    src: url('../fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.step1-field {
    font-family: 'CeraPro-Bold', sans-serif;
    font-weight: bold;
}

.label-bold {
    font-family: 'CeraPro-Bold', sans-serif;
    font-weight: bold;
}

body, input, select, textarea, button, h1, h2, h3, h4, h5, h6, label {
    font-family: 'CeraPro', sans-serif;
}

h2 {
    font-weight: normal;  
}

body {
    background-color: #5A298A;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'CeraPro', Arial, sans-serif;
}

.header-logo {
    text-align: center;
    margin-top: 30px; /* Ajusta el margen superior según sea necesario */
    margin-bottom: 10px;
}

.header-logo .logo {
    width: 200px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
}

h1 {
    text-align: center;
    color: white; 
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
    margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
    font-size: 20px;
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto; /*    modificado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 20px;
    text-align: center; /* Añadido para centrar el contenido de las etiquetas */
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #E35090;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #a0456f;
}

.form-group {
    margin-bottom: 15px;
    text-align: center; /* Centrar el contenido de los grupos de formularios */
}

.form-group label {
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
}

.form-group img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    object-fit: cover; /* Para asegurar que todas las imágenes tengan la misma presentación */
    border: 1px solid #ccc; /* Opcional: para dar un borde a las imágenes */
    border-radius: 5px; /* Opcional: para redondear los bordes de las imágenes */
}

.image-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ocultar el checkbox original */
input[type="checkbox"] {
    display: none;
}

/* Estilo personalizado para el checkbox */
input[type="checkbox"] + label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
}

input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid #EA7D55; /* Color del borde */
    border-radius: 3px;
    background-color: white; /* Color de fondo */
    vertical-align: middle;
    position: relative;  /* Para permitir el posicionamiento del icono de verificación */
    flex-shrink: 0;
}

input[type="checkbox"]:checked + label:before {
    background-color: #FF9F72; /* Color de fondo cuando está seleccionado */
    border-color: #EA7D55; /* Color del borde cuando está seleccionado */
}

.bold-text {
    font-family: 'CeraPro-Bold', sans-serif;
}

/* Alinear el texto junto a las imágenes */
.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

input[type="checkbox"][name="pcolor_image"] + label img {
    margin-right: 10px;
}

/* Ocultar el checkbox original */
input[type="checkbox"][name="pcolor_image"] {
    display: none;
}

/* Estilo personalizado para el checkbox */
input[type="checkbox"][name="pcolor_image"] + label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    justify-content: center;  /* Añadido para centrar el contenido */
    
    
    
}

input[type="checkbox"][name="pcolor_image"] + label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid #EA7D55; /* Color del borde */
    border-radius: 3px;
    background-color: white; /* Color de fondo */
    vertical-align: middle;
    position: relative;  /* Para permitir el posicionamiento del icono de verificación */
    flex-shrink: 0;
}

input[type="checkbox"][name="pcolor_image"]:checked + label:before {
    background-color: #EA7D55; /* Color de fondo cuando está seleccionado */
    border-color: #EA7D55; /* Color del borde cuando está seleccionado */
}

/*done*/
p {
    text-align: center;
    font-size: 1.2em;
    margin: 20px 0;
    color:#ccc;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    /*border-radius: 10px; 286 */ 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Ajustes para la imagen combinada */
p img {
    max-width: 90%;
    margin: 20px auto;
    display: block;
    /* border-radius: 10px; 294*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    

    p {
        font-size: 1em;
    }

    p img {
        max-width: 100%;
    }
    /* Ajuste específico para el texto de las imágenes problemáticas */
    
    #warm_gray_text,
    #bluish_green_text {
        font-size: 12px; /* Ajusta este valor según sea necesario */
    }
}

/* Ocultar el radio button original */
input[type="radio"] {
    display: none;
}

/* Estilo personalizado para el radio button */
.radio-label {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar horizontalmente */
    position: relative;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    margin-bottom: 20px;
}

.radio-label input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-label .custom-radio {
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 10px; /* Espacio entre el radio button y la imagen */
    flex-shrink: 0;
}

.radio-label input[type="radio"]:checked ~ .custom-radio {
    background-color: orange;
    border-color: orange;
}

.radio-label img {
    margin: 10px 0; /* Ajustar según sea necesario */
    max-width: 100%; /* Asegurar que la imagen no exceda el contenedor */
}

/* Ajustes específicos para el formulario múltiple */
.multiple-choice-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinear al inicio para evitar el centrado vertical */
    min-height: auto;
    padding-top: 0; /* Sin padding superior */
    margin-top: 0; /* Sin margen superior */
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea horizontalmente a la izquierda */
    margin-top: 10px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Estilo adicional para reducir el margen superior */
.custom-form {
    margin-top: 0; /* Ajusta este valor según sea necesario */
    padding-top: 0; /* Ajusta este valor según sea necesario */
}

/* Ajustar el margen del encabezado de la pregunta */
.custom-form h2 {
    margin-top: 10px; /* Ajusta este valor según sea necesario */
    padding-top: 0; /* Ajusta este valor según sea necesario */
    font-size: 25px;
}

/* Ajustes específicos para el formulario de colores */
.color-choice-form .checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.color-choice-form .checkbox-container label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.color-choice-form .checkbox-container img {
    margin-right: 10px; /* Espacio entre el checkbox y la imagen */
    width: 200px;
    height: 200px;
    object-fit: cover; /* Para asegurar que las imágenes mantengan la proporción correcta  agregado*/
}

.color-choice-form .checkbox-container input[type="checkbox"] {
    margin-right: 10px; /* Espacio entre el checkbox y la imagen */
}

/*principal*/
/* Estilos para el botón */
/* Estilos para el botón */
a button.bold-text {
    font-family: 'Cerapro', Arial, sans-serif;
    font-size: 14px; /* Ajusta el tamaño del texto del botón */
    padding: 8px 16px; /* Ajusta el espacio interno del botón */
    background-color: #f2854b; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Quitar el borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar por el botón */
    text-decoration: none; /* Quitar subrayado */
    display: block; /* Hace que el botón se comporte como un bloque para centrarlo */
    width: 200px; /* Ajusta el ancho del botón */
    margin: 20px auto; /* Centrar el botón y agregar margen superior e inferior */
    text-align: center; /* Asegura que el texto esté centrado */
}

a {
    text-decoration: none; /* Quitar subrayado del enlace */
}

.container {
    text-align: center; /* Centrar el contenido */
    margin-top: 20px; /* Espacio superior opcional */
}

h3 {
    font-family: 'Cerapro', Arial, sans-serif;
    color: white; /* Hacer el texto de h3 blanco */
    text-align: center; /* Centrar el texto de h3 */
}
.terms-text {
    font-family: 'Cerapro', Arial, sans-serif;
    font-size: 14px; /* Tamaño del texto */
    margin-top: 20px; /* Margen superior */
    text-align: center; /* Centrar el texto */
    line-height: 1.5; /* Altura de línea */
    color: #e0e0e0; /* Color del texto */
    width: 80%; /* Ancho del texto */
    margin-left: auto; /* Centrar el texto horizontalmente */
    margin-right: auto; /* Centrar el texto horizontalmente */
}


/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    body {
        background-size: cover;
        background-attachment: scroll; /* Evita el desplazamiento fijo en pantallas pequeñas */
    }

    form {
        max-width: 80%; /* Reduce el ancho máximo del formulario */
        padding: 15px;
        margin: 20px 10%; /* Agrega márgenes laterales */
    }

    .header-logo .logo {
        width: 150px; /* Ajusta el tamaño del logo */
    }

    h1 {
        font-size: 1.5em; /* Reduce el tamaño de fuente del título */
    }

    h2 {
        font-size: 20px;
    }

    .custom-form h2 {
        margin-top: 10px; /* Ajusta este valor según sea necesario */
        padding-top: 0; /* Ajusta este valor según sea necesario */
        font-size: 20px;
    }

    .input-field {
        font-size: 14px; /* Ajusta el tamaño de fuente de los campos de entrada */
    }

    .form-group img {
        width: 100px; /* Reduce el tamaño de las imágenes */
        height: 100px;
    }

    .checkbox-container img {
        width: 200px; 
        height: 200px;
    } 

    .radio-label {
        font-size: 18px; /* Ajusta el tamaño de fuente de los labels */
    }

    .radio-label .custom-radio {
        height: 20px;
        width: 20px;
    }

    .checkbox-item input[type="checkbox"] + label {
        padding-left: 20px; /* Ajusta el espacio de padding izquierdo */
    }

    button {
        padding: 8px;
        font-size: 14px; /* Ajusta el tamaño de fuente del botón */
    }
}


/* Ajustes específicos para pantallas aún más pequeñas */
@media (max-width: 480px) {
    form {
        max-width: 80%; /* Reduce aún más el ancho máximo del formulario */
        padding: 10px;
        margin: 20px 10%; /* Agrega márgenes laterales */
    }

    h1 {
        font-size: 1.2em; /* Reduce el tamaño de fuente del título */
    }

    h2 {
        font-size: 16px; /* Ajusta este valor según sea necesario */
    }

    .custom-form h2 {
        margin-top: 10px; /* Ajusta este valor según sea necesario */
        padding-top: 0; /* Ajusta este valor según sea necesario */
        font-size: 20px;
    }

    .input-field {
        font-size: 12px; /* Ajusta el tamaño de fuente de los campos de entrada */
    }

    .form-group img {
        width: 80px; /* Reduce el tamaño de las imágenes */
        height: 80px;
    }
    
    .checkbox-container img {
        width: 120px; 
        height: 120px;
    } 

    .radio-label {
        font-size: 16px; /* Ajusta el tamaño de fuente de los labels */
    }

    .radio-label .custom-radio {
        height: 18px;
        width: 18px;
    }

    button {
        padding: 6px;
        font-size: 12px; /* Ajusta el tamaño de fuente del botón */
    }
}
