{% extends 'quest/base.html' %}
{% load static %}
{% block title %}KREALIS{% endblock %}

{% block content %}
    <h1>¡Gracias por responder nuestra encuesta!</h1>
    <p>Nombre {{ Nombre }}</p>
    <p>Email {{ email }}</p>
    <p>Estilo {{ style }}</p>
    <p>Otra palabra {{ other_style }}</p>
    <!--<p><img src="{% static 'images/' %}{{ bedroom_image }}" alt="Recámara favorita"></p>
    <p><img src="{% static 'images/' %}{{ hall_image }}" alt="Sala favorita"></p> -->
    <p><img src="{% static combined_image %}" alt="Imagen combinada"></p>
    
{% endblock %}

