{% extends 'quest/base.html' %}

{% block title %}KREALIS{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="label-bold" for="{{ form.Nombre.id_for_label }}">{{ form.Nombre.label }}</label>
            {{ form.Nombre }}
        </div>
        <div class="form-group">
            <label class="label-bold" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            {{ form.email }}
        </div>
        <button class="label-bold" type="submit">Siguiente</button>
    </form>
{% endblock %}
